<!-- Code from d3-graph-gallery.com -->
<!DOCTYPE html>
<meta charset="utf-8">

<html>
  <head>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
    
  </head>
  <body>
    <center><img id="head" src="static/seal-dark-red.png"></center>
    <div id="line"></div>

    <div class="maincontent">

      <center><p id="class">Stanford CS 472</p></center>
      
      <center><p id="title">Interactive COVID-19 Serology Study Dashboard</p></center>

      <center><p id="date">MAY 11, 2020</p></center>

      <p class="pagetext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum, ex vitae sagittis viverra, eros massa commodo odio, a efficitur nibh nulla a diam. Etiam tortor nisl, maximus vel pharetra ut, mattis et erat. Quisque vel justo a nisl volutpat egestas. Aenean varius posuere velit, non interdum felis viverra sed. Sed vitae diam viverra, maximus eros eu, condimentum nibh. Suspendisse quam purus, finibus ac facilisis non, hendrerit eu odio. Vivamus sodales dictum rhoncus. Etiam sed mollis elit. </p>
    
      <div>
        <p id="choose1"> Choose (Sensitivity, Specificity)</p>
        <select id="selectButton"></select>
      </div>
    </div>
      
      
      <center>
      <div id="my_dataviz"></div>
      </center>

      <script type="text/javascript" src="static/d3-prevalence.js"></script>

    <div class="maincontent">
      <p class="pagetext">Integer placerat mi mauris, quis dignissim nunc mattis ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus iaculis, nisl at pretium pellentesque, dui ex consectetur nibh, eu aliquam felis metus sed justo. Praesent ullamcorper augue at arcu laoreet, eu congue dui efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur dictum sagittis lectus at facilisis. Mauris feugiat egestas libero, non mollis est lobortis in. Suspendisse nibh mauris, faucibus vel finibus a, aliquam sed ante. Duis porttitor justo nec neque tempus consequat. In aliquet ultrices elit congue gravida. Vivamus euismod, sem et porta sagittis, dui lectus euismod purus, at sollicitudin eros nisi ac metus.</p>
    </div>

  </body>



</html>

